<div class="container">
    <h2>Book Management</h2>
    <div class="grid-container">
      <div class="grid-item">
        <h3>Add Book</h3>
        <app-add-book></app-add-book>
      </div>
      <div class="grid-item">
        <h3>Delete Book</h3>
        <app-delete-book></app-delete-book>
      </div>
      <div class="grid-item">
        <h3>View Books</h3>
        <app-view-books></app-view-books>
      </div>
      <div class="grid-item">
        <h3>Edit Book</h3>
        <app-edit-book></app-edit-book>
      </div>
    </div>
  </div>
  
