<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="login-title">Login</h2>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password">
    </div>
    <a [routerLink]="['/register']">Don't have an account? Register Here</a>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
